/* Wed Nov 21 2018 10:06:59 GMT+0800 (China Standard Time) */
/* module */
@font-face { font-family: 'icomoon_flight_01'; src: url("./settingFonts/icomoon_flight_01.eot?xm1ff0"); src: url("./settingFonts/icomoon_flight_01.eot?xm1ff0#iefix") format("embedded-opentype"), url("./settingFonts/icomoon_flight_01.ttf?xm1ff0") format("truetype"), url("./settingFonts/icomoon_flight_01.woff?xm1ff0") format("woff"), url("./settingFonts/icomoon_flight_01.svg?xm1ff0#icomoon_flight_01") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { font-family: 'icomoon_flight_01' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; cursor: pointer; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-capture:before { content: "\e900"; }

.icon-help:before { content: "\e800"; }

.icon-icn_flight_box_folder_01:before { content: "\e801"; }

.icon-icn_flight_dropbox_folder_01:before { content: "\e802"; }

.icon-icn_flight_googleDrive_folder_01:before { content: "\e803"; }

.icon-dropbox_folder_open:before { content: "\e648"; }

.icon-dropbox_folder:before { content: "\e649"; }

.icon-geo_data:before { content: "\e647"; }

.icon-timeline:before { content: "\e645"; }

.icon-dashboard:before { content: "\e646"; }

.icon-Coordinate:before { content: "\e642"; }

.icon-dimensions:before { content: "\e643"; }

.icon-fullscreen_01:before { content: "\e640"; }

.icon-more01:before { content: "\e641"; }

.icon-cold_restore:before { content: "\e63d"; }

.icon-cold_request:before { content: "\e63e"; }

.icon-cold_move:before { content: "\e63f"; }

.icon-offline:before { content: "\e63c"; }

.icon-googleDrive_folder:before { content: "\e63a"; }

.icon-googleDrive_folder_open:before { content: "\e63b"; }

.icon-library:before { content: "\e638"; }

.icon-triangle-down:before { content: "\e636"; }

.icon-triangle-up:before { content: "\e637"; }

.icon-box_folder:before { content: "\7d"; }

.icon-box_folder_open:before { content: "\7e"; }

.icon-copy1:before { content: "\7c"; }

.icon-copy:before { content: "\7b"; }

.icon-add_1:before { content: "\60"; }

.icon-subtract_1:before { content: "\61"; }

.icon-closed2:before { content: "\5f"; }

.icon-warning:before { content: "\5e"; }

.icon-pdf_preview:before { content: "\4d"; }

.icon-rotate_left:before { content: "\2a"; }

.icon-rotate_right:before { content: "\2d"; }

.icon-move:before { content: "\30"; }

.icon-resize:before { content: "\3a"; }

.icon-resize2:before { content: "\3e"; }

.icon-keyphoto:before { content: "\3f"; }

.icon-icn_delete:before { content: "\26"; }

.icon-icn_remove:before { content: "\27"; }

.icon-crop:before { content: "\e644"; }

.icon-more:before { content: "\22"; }

.icon-edit:before { content: "\23"; }

.icon-add:before { content: "\21"; }

.icon-icn_expand_02:before { content: "\e635"; }

.icon-icn_linkedin_01:before { content: "\e600"; }

.icon-icn_upload_cloud_01:before { content: "\e60c"; }

.icon-icn_checkbox_checked_02:before { content: "\e605"; }

.icon-icn_grid_filled_01:before { content: "\49"; }

.icon-icn_flight_logo_01:before { content: "\e630"; }

.icon-icn_default_user_01:before { content: "\e623"; }

.icon-box_logo_01:before { content: "\e625"; }

.icon-icn_tree4:before { content: "\e62e"; }

.icon-icn_tree3:before { content: "\e626"; }

.icon-icn_tree2:before { content: "\e627"; }

.icon-icn_tree:before { content: "\e628"; }

.icon-icn_upload4:before { content: "\e629"; }

.icon-icn_box_filled:before { content: "\e62a"; }

.icon-icn_upload3:before { content: "\e62b"; }

.icon-icn_dropbox_02:before { content: "\e622"; }

.icon-icn_bell_02:before { content: "\e624"; }

.icon-icn_star_01:before { content: "\e60b"; }

.icon-icn_disk_01:before { content: "\e60d"; }

.icon-icn_close_x_01:before { content: "\e60e"; }

.icon-icn_close_circle_x_01:before { content: "\e60f"; }

.icon-icn_checkmark_circle_01:before { content: "\e610"; }

.icon-icn_eye_01:before { content: "\e611"; }

.icon-icn_flight_arrow_up_01:before { content: "\e612"; }

.icon-icn_flight_arrow_down_01:before { content: "\e613"; }

.icon-icn_flight_sort_descend_01:before { content: "\e606"; }

.icon-icn_reload_alt_01:before { content: "\e604"; }

.icon-icn_checkbox_checked_01:before { content: "\3b"; }

.icon-icn_pencil_01:before { content: "\b7"; }

.icon-icn_flight_arrow_left_01:before { content: "\2264"; }

.icon-icn_flight_arrow_right_01:before { content: "\2265"; }

.icon-icn_flight_album_assign_01:before { content: "\c5"; }

.icon-icn_flight_folder_open3 { font-family: 'icomoon' !important; }

.icon-icn_flight_folder_open3:before { content: "\e9bd"; }

.icon-icn_flight_folder_01 { font-family: 'icomoon' !important; }

.icon-icn_flight_folder_01:before { content: "\e9bc"; }

.icon-icn_reload_01:before { content: "\2030"; }

.icon-icn_flight_plus_sm_thick_01:before { content: "\2260"; }

.icon-icn_flight_plus_sm_01:before { content: "\b1"; }

.icon-icn_flight_power:before { content: "\5c"; }

.icon-icn_checkbox_checked_013:before { content: "\3c"; }

.icon-icn_flight_preso:before { content: "\2e"; }

.icon-cal:before { content: "\2f"; }

.icon-icn_flight_sort_01:before { content: "\3d"; }

.icon-icn_flight_info_01:before { content: "\2c"; }

.icon-icn_flight_preso_01:before { content: "\29"; }

.icon-icn_portal_01:before { content: "\28"; }

.icon-icn_flight_plus_01:before { content: "\5d"; }

.icon-icn_album_01:before { content: "\5b"; }

.icon-Plus-02:before { content: "\a1"; }

.icon-image:before { content: "\62"; }

.icon-image2:before { content: "\63"; }

.icon-music:before { content: "\64"; }

.icon-film:before { content: "\65"; }

.icon-camera:before { content: "\66"; }

.icon-bullhorn:before { content: "\e602"; }

.icon-book:before { content: "\67"; }

.icon-books:before { content: "\68"; }

.icon-file:before { content: "\69"; }

.icon-file2:before { content: "\6a"; }

.icon-file3:before { content: "\6b"; }

.icon-file4:before { content: "\6c"; }

.icon-stack:before { content: "\6d"; }

.icon-folder:before { content: "\6e"; }

.icon-folder-open:before { content: "\6f"; }

.icon-tag:before { content: "\e603"; }

.icon-notebook:before { content: "\70"; }

.icon-envelope:before { content: "\71"; }

.icon-history:before { content: "\e607"; }

.icon-bell:before { content: "\72"; }

.icon-calendar:before { content: "\73"; }

.icon-screen:before { content: "\74"; }

.icon-laptop:before { content: "\75"; }

.icon-drawer:before { content: "\76"; }

.icon-upload:before { content: "\78"; }

.icon-user:before { content: "\79"; }

.icon-users:before { content: "\7a"; }

.icon-user2:before { content: "\5a"; }

.icon-spinner:before { content: "\cd"; }

.icon-search:before { content: "\53"; }

.icon-zoomin:before { content: "\41"; }

.icon-zoomout:before { content: "\42"; }

.icon-key:before { content: "\e608"; }

.icon-lock:before { content: "\e614"; }

.icon-unlocked:before { content: "\e615"; }

.icon-settings:before { content: "\2c7"; }

.icon-cog:before { content: "\43"; }

.icon-pie:before { content: "\44"; }

.icon-bars:before { content: "\45"; }

.icon-remove:before { content: "\46"; }

.icon-remove2:before { content: "\47"; }

.icon-briefcase:before { content: "\48"; }

.icon-list:before { content: "\4c"; }

.icon-menu:before { content: "\4a"; }

.icon-tree:before { content: "\4b"; }

.icon-download2:before { content: "\e62c"; }

.icon-upload2:before { content: "\e62d"; }

.icon-flag:before { content: "\4e"; }

.icon-star:before { content: "\4f"; }

.icon-star2:before { content: "\50"; }

.icon-heart:before { content: "\51"; }

.icon-heart2:before { content: "\52"; }

.icon-thumbs-up:before { content: "\a8"; }

.icon-info:before { content: "\2c6"; }

.icon-close:before { content: "\e7"; }

.icon-checkmark:before { content: "\54"; }

.icon-checkmark2:before { content: "\55"; }

.icon-minus:before { content: "\b5"; }

.icon-plus:before { content: "\2b"; }

.icon-enter:before { content: "\56"; }

.icon-exit:before { content: "\57"; }

.icon-stop:before { content: "\e601"; }

.icon-arrow-down:before { content: "\e5"; }

.icon-checkbox-checked:before { content: "\58"; }

.icon-checkbox-unchecked:before { content: "\59"; }

.icon-checkbox-partial:before { content: "\31"; }

.icon-radio-checked:before { content: "\32"; }

.icon-radio-unchecked:before { content: "\33"; }

.icon-filter:before { content: "\34"; }

.icon-filter2:before { content: "\35"; }

.icon-table:before { content: "\36"; }

.icon-paragraph-justify:before { content: "\37"; }

.icon-share:before { content: "\38"; }

.icon-mail:before { content: "\39"; }

.icon-googleplus:before { content: "\e616"; }

.icon-googleplus2:before { content: "\e617"; }

.icon-googleplus3:before { content: "\e618"; }

.icon-facebook:before { content: "\e609"; }

.icon-facebook2:before { content: "\e60a"; }

.icon-facebook3:before { content: "\e619"; }

.icon-twitter:before { content: "\e61a"; }

.icon-twitter2:before { content: "\e61b"; }

.icon-twitter3:before { content: "\e61c"; }

.icon-wordpress:before { content: "\e61d"; }

.icon-wordpress2:before { content: "\e61e"; }

.icon-linkedin:before { content: "\e61f"; }

.icon-pinterest:before { content: "\e620"; }

.icon-pinterest2:before { content: "\e621"; }

.icon-file-pdf:before { content: "\40"; }

.icon-file-word:before { content: "\24"; }

.icon-file-excel:before { content: "\25"; }

.icon-arrow-up-right:before { content: "\e634"; }

.icon-arrow-right:before { content: "\e62f"; }

.icon-arrow-left:before { content: "\e631"; }

.icon-arrow-right2:before { content: "\e632"; }

.icon-arrow-left2:before { content: "\e633"; }

.icon-weather-snow:before { content: "\e639"; }

.icon-uniF16B:before { content: "\f16b"; }

.icon-download:before { content: "\77"; }

@font-face { font-family: 'icomoon'; src: url("./settingFonts/icomoon.eot?n9woxf"); src: url("./settingFonts/icomoon.eot?n9woxf#iefix") format("embedded-opentype"), url("./settingFonts/icomoon.ttf?n9woxf") format("truetype"), url("./settingFonts/icomoon.woff?n9woxf") format("woff"), url("./settingFonts/icomoon.svg?n9woxf#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-s-"], [class*=" icon-s-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-s-folder-01:before { content: "\e967"; }

.icon-s-more-24:before { content: "\e941"; }

.icon-s-Treemenu-24:before { content: "\e955"; }

.icon-s-arrow-24:before { content: "\e956"; }

.icon-s-profile-24:before { content: "\e957"; }

.icon-s-settings-24:before { content: "\e958"; }

.icon-s-advanceduploader-24:before { content: "\e959"; }

.icon-s-mycollections-24:before { content: "\e95a"; }

.icon-s-logoout-24:before { content: "\e95b"; }

.icon-s-help-24:before { content: "\e95c"; }

.icon-s-gotoportal-24:before { content: "\e95d"; }

.icon-s-aboutus-24:before { content: "\e95e"; }

.icon-s-TypeASC-20:before { content: "\e942"; }

.icon-s-TypeDESC-20:before { content: "\e943"; }

.icon-s-DateASC-20:before { content: "\e948"; }

.icon-s-DateDESC-20:before { content: "\e949"; }

.icon-s-NameASC:before { content: "\e94a"; }

.icon-s-NameDESC:before { content: "\e94b"; }

.icon-s-Workspace-20:before { content: "\e94e"; }

.icon-s-MasonryGridView-20:before { content: "\e939"; }

.icon-s-Edit-20:before { content: "\e93a"; }

.icon-s-Search-20:before { content: "\e93b"; }

.icon-s-ThumbnailView-20:before { content: "\e93c"; }

.icon-s-GEOView-20:before { content: "\e93d"; }

.icon-s-ListView-20:before { content: "\e93e"; }

.icon-s-Filter-20:before { content: "\e93f"; }

.icon-s-Date-20:before { content: "\e940"; }

.icon-s-Comment-22:before { content: "\e931"; }

.icon-s-Delete-22:before { content: "\e932"; }

.icon-s-UnrelateFile-22:before { content: "\e92b"; }

.icon-s-RelateFile-22:before { content: "\e92c"; }

.icon-s-Portal-22:before { content: "\e92a"; }

.icon-s-AllFiles-32:before { content: "\e944"; }

.icon-s-Audio-32:before { content: "\e945"; }

.icon-s-Documents-32:before { content: "\e946"; }

.icon-s-Images-32:before { content: "\e947"; }

.icon-s-Others-32:before { content: "\e94c"; }

.icon-s-Presentations-32:before { content: "\e94d"; }

.icon-s-Videos-32:before { content: "\e954"; }

.icon-s-PageDown-32:before { content: "\e95f"; }

.icon-s-PageUp-32:before { content: "\e960"; }

.icon-s-Add_Section-32:before { content: "\e938"; }

.icon-s-Portal-32:before { content: "\e92d"; }

.icon-s-Error-24:before { content: "\e928"; }

.icon-s-Approval-56:before { content: "\e966"; }

.icon-s-SmartTags-56:before { content: "\e965"; }

.icon-s-Uploadicon-56:before { content: "\e961"; }

.icon-s-importicon-56:before { content: "\e963"; }

.icon-s-Workspace-56:before { content: "\e94f"; }

.icon-s-Slack-56:before { content: "\e937"; }

.icon-s-Arrow001-56:before { content: "\e935"; }

.icon-s-Arrow002-56:before { content: "\e936"; }

.icon-s-SelfRegistration-56:before { content: "\e933"; }

.icon-s-InfoPage-56:before { content: "\e92e"; }

.icon-s-NewUploadLink-56:before { content: "\e92f"; }

.icon-s-UploadLinks-56:before { content: "\e930"; }

.icon-s-Integrations-56:before { content: "\e915"; }

.icon-s-CustomFields-56:before { content: "\e916"; }

.icon-s-Keywords-56:before { content: "\e917"; }

.icon-s-CrewSettings-56:before { content: "\e91b"; }

.icon-s-Portal-56:before { content: "\e91c"; }

.icon-s-Metadata-56:before { content: "\e91d"; }

.icon-s-NewPortal-56:before { content: "\e91e"; }

.icon-s-Account-56:before { content: "\e920"; }

.icon-s-Branding-56:before { content: "\e926"; }

.icon-s-PassengerSettings-56:before { content: "\e929"; }

.icon-s-box-56:before { content: "\e914"; }

.icon-s-DigitalRights-56:before { content: "\e918"; }

.icon-s-Dropbox-56:before { content: "\e919"; }

.icon-s-DuplicateCheck-56:before { content: "\e91a"; }

.icon-s-NewUser-56:before { content: "\e91f"; }

.icon-s-Reports-56:before { content: "\e921"; }

.icon-s-UsersAccounts-56:before { content: "\e922"; }

.icon-s-Workflow-56:before { content: "\e923"; }

.icon-s-Google-56:before { content: "\e924"; }

.icon-s-Defaults-56:before { content: "\e925"; }

.icon-s-Groups-56:before { content: "\e927"; }

.icon-s-lock_16:before { content: "\e968"; }

.icon-s-notlock_16:before { content: "\e969"; }

.icon-s-Type-16:before { content: "\e950"; }

.icon-s-Name-16:before { content: "\e951"; }

.icon-s-Custom-16:before { content: "\e952"; }

.icon-s-Date-16:before { content: "\e953"; }

.icon-s-Warning-16:before { content: "\e934"; }

.icon-canto-eye-16:before { content: "\e913"; }

.icon-s-Unlink_16:before { content: "\e900"; }

.icon-s-Search_16:before { content: "\e901"; }

.icon-s-Refresh_16:before { content: "\e902"; }

.icon-s-RadioButton2_16:before { content: "\e903"; }

.icon-s-RadioButton1_16:before { content: "\e904"; }

.icon-s-UnselectedCheck_32:before { content: "\e962"; }

.icon-s-Ok2_32:before { content: "\e905"; }

.icon-s-Ok1_16:before { content: "\e906"; }

.icon-s-Edit_16:before { content: "\e907"; }

.icon-s-Dropdown_16:before { content: "\e908"; }

.icon-s-Delete_16:before { content: "\e909"; }

.icon-s-Date_16:before { content: "\e90a"; }

.icon-s-ClosePopup_16:before { content: "\e90b"; }

.icon-s-Checkbox2_16:before { content: "\e90c"; }

.icon-s-Checkbox1_16:before { content: "\e90d"; }

.icon-s-Cancel_16:before { content: "\e90e"; }

.icon-s-BackButton_28:before { content: "\e90f"; }

.icon-s-Arrow3_16:before { content: "\e910"; }

.icon-s-Arrow2_16:before { content: "\e911"; }

.icon-s-Arrow1_16:before { content: "\e912"; }

.icon-s-PasswordPolicy-56:before { content: "\e964"; }

.icon-s-dashboard_24:before { content: "\e96a"; }

.icon-s-Album_locked-20px:before { content: "\e96b"; }

.icon-s-Album-20px:before { content: "\e96c"; }

.icon-s-Folder_locked-20px:before { content: "\e96d"; }

.icon-s-Folder_open_locked-20px:before { content: "\e96e"; }

.icon-s-Folder_open-20px:before { content: "\e96f"; }

.icon-s-closeicon-16px:before { content: "\e970"; }

.icon-s-refreshicon-16px:before { content: "\e971"; }

.icon-s-RequestAccessUser-16:before { content: "\e978"; }

.icon-s-LandingPageTempl08-32:before { content: "\e979"; }

.icon-s-LandingPageTempl07-32:before { content: "\e97a"; }

.icon-s-LandingPageTempl06-32:before { content: "\e97b"; }

.icon-s-LandingPageTempl05-32:before { content: "\e97c"; }

.icon-s-LandingPageTempl04-32:before { content: "\e97d"; }

.icon-s-LandingPageTempl03-32:before { content: "\e97e"; }

.icon-s-LandingPageTempl02-32:before { content: "\e97f"; }

.icon-s-LandingPageTempl01-32:before { content: "\e980"; }

.icon-s-db-32:before { content: "\e982"; color: #60ACEC; }

.icon-s-box-32:before { content: "\e983"; color: #307ABB; }

.icon-s-twitter-32:before { content: "\e984"; color: #1AB2E8; }

.icon-s-youtube-32:before { content: "\e985"; color: #C8312B; }

.icon-s-vimeo-32:before { content: "\e986"; color: #30B9EB; }

.icon-s-slack-32:before { content: "\e987"; color: #77D4B6; }

.icon-s-mail-32:before { content: "\e988"; color: #566ED6; }

.icon-s-googledrive-32:before { content: "\e989"; color: #029D54; }

.icon-s-googleanalytics-32:before { content: "\e98a"; }

.icon-s-facebook-32:before { content: "\e98b"; color: #6678C5; }

.icon-s-pinterest-32:before { content: "\e98c"; color: #DF4A3E; }

.icon-s-arrow_circle_down-62:before { content: "\e99e"; }

.icon-s-Email-56:before { content: "\e98f"; }

.icon-s-hamburger-20:before { content: "\e990"; }

.icon-s-dagger_solid-20:before { content: "\e991"; }

.icon-s-dagger-20:before { content: "\e992"; }

.icon-s-align_center-16:before { content: "\e997"; color: #8a8a8a; }

.icon-s-align_left-16:before { content: "\e998"; }

.icon-s-align_right-16:before { content: "\e999"; }

.icon-s-bold-16:before { content: "\e99a"; }

.icon-s-calendar-16:before { content: "\e99b"; }

.icon-s-italics-16:before { content: "\e996"; }

.icon-s-pencil-16:before { content: "\e995"; }

.icon-s-portal-16:before { content: "\e993"; }

.icon-s-canto-eyeno-16:before { content: "\e994"; }

.icon-s-filter-16:before { content: "\e99c"; }

.icon-s-sort-16:before { content: "\e98d"; }

.icon-s-undo-16:before { content: "\e98e"; }

.icon-s-help-16:before { content: "\e99d"; }

.icon-s-layout01-32:before { content: "\e99f"; }

.icon-s-layout02-32:before { content: "\e9a0"; }

.icon-s-layout03-32:before { content: "\e9a1"; }

.icon-s-layout04-32:before { content: "\e9a2"; }

.icon-s-layout05-32:before { content: "\e9a3"; }

.icon-s-layout06-32:before { content: "\e9a4"; }

.icon-s-layout07-32:before { content: "\e9a5"; }

.icon-s-layout08-32:before { content: "\e9a6"; }

.icon-s-layout09-32:before { content: "\e9a7"; }

.icon-s-layout10-32:before { content: "\e9a8"; }

.icon-s-layout11-32:before { content: "\e9a9"; }

.icon-s-layout12-32:before { content: "\e9aa"; }

.icon-s-layout13-32:before { content: "\e9ab"; }

.icon-s-layout14-32:before { content: "\e9ac"; }

.icon-s-TextColor-16:before { content: "\e9ad"; }

.icon-s-Clone-16:before { content: "\e9ae"; }

.icon-s-save-16:before { content: "\e9af"; }

.icon-s-Portal_Private-20:before { content: "\e9b2"; }

.icon-s-Portal_Public-20:before { content: "\e9b1"; }

.icon-s-Portal_Common-20:before { content: "\e9b0"; }

.icon-s-Keyword-16:before { content: "\e9b3"; }

.icon-s-single_workspace-20:before { content: "\e9b4"; }

.icon-s-workspaces-20:before { content: "\e9b5"; }

.icon-s-Fullscreen:before { content: "\e9b6"; }

.icon-s-indesignPackage:before { content: "\e9b7"; }

.icon-s-documentPackage:before { content: "\e9b8"; }

.icon-s-comments:before { content: "\e9b9"; }

.icon-s-map:before { content: "\e9ba"; }

.canto-pickup-img-btn { height: 30px; line-height: 26px; margin: 15px; padding: 0 15px; font-size: 15px; background-color: #FF9800; font-weight: bold; border: 0; display: block; }

.canto-pickup-img-btn:hover { background-color: #c77b09; }

.canto-uc-frame { position: fixed; width: 90%; height: 90%; margin: auto; top: 5%; left: 5%; background: #fff; border: 0; box-shadow: 0px 0px 5px #ccc; z-index: 10002; }

.canto-uc-frame .header { height: 20px; padding: 15px; background: #f5f5f5; border-bottom: 1px solid #ddd; }

.canto-uc-frame .header .title { font-size: 17px; font-weight: bold; }

.canto-uc-frame .header .close-btn { position: absolute; right: 20px; top: 14px; font-size: 23px; color: #000; }

.canto-uc-frame .header .close-btn:hover { cursor: pointer; }

.canto-uc-frame .canto-uc-subiframe { width: 100%; position: relative; height: calc(100% - 50px); border: 0; padding: 0; }

.text-lowercase { text-transform: lowercase !important; }

.text-orange { color: #773333 !important; }

.text-orange:focus, .text-orange:hover { color: #773333; }

.text-black { color: #000000 !important; }

.text-white { color: #ffffff !important; }

.text-grey { color: #444444 !important; }

body { font-family: sans-serif, Helvetica, Arial; font-size: 14px; line-height: 1.42857143; color: #333; background-color: #fff; min-width: 850px; overflow-x: hidden; }

.canto-body { height: 100vh; width: 100%; position: relative; overflow: hidden; z-index: 1; margin: 0; }

.header-section { height: 50px; width: 100%; position: relative; background-color: #f5f5f5; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.header-section .library { display: inline-block; cursor: pointer; }

.header-section .library .treeview-icon { line-height: 50px; margin-left: 20px; position: relative; top: 1px; }

.header-section .library .treeview-icon:before { margin-right: 5px; }

.header-section .library .treeview-desc { font-size: 15px; margin-left: 0; }

.header-section .search-box { display: inline-block; margin-left: 20px; width: 250px; position: relative; }

.header-section .search-box input { width: 220px; padding: 2px 10px; border-radius: 15px; border: 1px solid #ccc; height: 20px; }

.header-section .search-box span { position: absolute; right: 0; top: 0; color: #888; height: 25px; width: 32px; padding-top: 7px; padding-left: 10px; cursor: pointer; }

.header-section .filter-section { line-height: 50px; margin-right: 20px; position: relative; display: inline-block; margin-left: calc(50% - 530px); }

.header-section .filter-section .type-font { font-size: 25px; color: #000; position: relative; top: 5px; cursor: pointer; }

.header-section .filter-section .type-font.current { color: #fff; border-radius: 50%; background-color: #222; }

.header-section .filter-section .type-font:hover { border-radius: 50%; background-color: #dedede; }

.header-section .filter-section .type-font:hover.current { color: #fff; border-radius: 50%; background-color: #222; }

.header-section .selected-count-section { display: inline-block; margin-left: calc(50% - 100px); }

.header-section .selected-action-section { display: inline-block; float: right; line-height: 50px; margin-right: 0; }

.header-section .selected-action-section .action-icon { font-size: 20px; color: #555; margin-right: 20px; position: relative; top: 3px; cursor: pointer; }

.header-section .selected-action-section .action-icon:hover { border-radius: 50%; color: #333; }

.header-section .selected-action-section .action-icon.all-selected { color: #111; }

.header-section .selected-action-section .action-icon.all-selected:hover { color: #000; }

.header-section .selected-action-section .action-btn { padding: 4px 10px; width: 54px; background: #555; line-height: 50px; margin-top: 20px; border-radius: 15px; color: #ddd; margin-right: 29px; vertical-align: top; cursor: pointer; }

.header-section .selected-action-section .action-btn:hover { background: #333; }

.header-section .logout-btn { z-index: 3; height: 50px; width: 47px; background-color: #f5f5f5; border-radius: 50%; display: block; cursor: pointer; border: 1px solid #f1f1f1; float: right; text-align: center; margin-right: 10px; }

.header-section .logout-btn span { font-size: 21px; margin: auto; color: #555; position: relative; line-height: 50px; }

.header-section .logout-btn:hover { color: #333; }

.header-section .logout-btn:hover span { color: #333; }

.hidden { display: none !important; }

.tree-view-section { width: 20%; border-right: 1px solid #ddd; height: calc(100% - 50px); display: inline-block; position: relative; background-color: #f5f5f5; border-top: 1px solid #ddd; overflow-y: scroll; }

.tree-view-section .tree-view { margin-top: 10px; }

.tree-view-section .tree-view .logo { width: 18px; position: relative; top: 5px; }

.tree-view-section .tree-view ul { list-style: none; padding-left: 0; cursor: pointer; }

.tree-view-section .tree-view li { list-style: none; line-height: 30px; padding-left: 10px; margin-left: 10px; position: relative; }

.tree-view-section .tree-view li:before { content: ''; border-left: 1px solid #e0e0e0; height: 100%; position: absolute; left: -1px; }

.tree-view-section .tree-view li:after { content: ''; left: -1px; position: absolute; right: auto; border-top: 1px solid #e0e0e0; height: 20px; top: 25px; width: 15px; }

.tree-view-section .tree-view li:last-child:before { height: 30px; }

.tree-view-section .tree-view li.selected { color: #FF9800; }

.tree-view-section .tree-view li.selected span { color: #FF9800; }

.tree-view-section .tree-view li.no-child { color: #aaaaaa; }

.tree-view-section .tree-view li.no-child span { color: #aaaaaa; font-style: italic; margin-left: 1px; }

.tree-view-section .tree-view li .tree-whole-row { position: absolute; height: 28px; width: 100%; left: 0; background-color: #f5f5f5; z-index: 0; }

.tree-view-section .tree-view li .tree-whole-row:hover { background-color: #ddd; }

.tree-view-section .tree-view i { width: 15px; height: 20px; display: inline-block; font-size: 18px; margin-right: 5px; position: relative; top: 2px; }

.tree-view-section .tree-view a, .tree-view-section .tree-view span { color: #666; font-size: 14px; z-index: 2; position: relative; }

.tree-view-section .tree-view > ul { padding-left: 0; border-left: none; }

.tree-view-section .tree-view > ul > li:before { border-left: none; }

.tree-view-section .tree-view > ul > li:after { border-top: none; }

.body-section { display: inline-block; vertical-align: top; width: 80%; position: absolute; left: 20%; font-size: 0; height: calc(100% - 50px); overflow-y: scroll; }

.body-section .image-section { padding: 3px; }

.body-section .single-image { margin: 1px; height: 189px; width: 189px; position: relative; display: inline-block; vertical-align: top; }

.body-section .single-image img { width: 100%; height: 100%; object-fit: cover; opacity: 0.9; }

.body-section .single-image .mask-layer { display: none; background-color: rgba(121, 121, 121, 0.3); z-index: 2; height: 100%; width: 100%; position: absolute; top: 0; left: 0; }

.body-section .single-image .select-box { display: none; position: absolute; top: 10px; right: 10px; color: #555; font-size: 25px; z-index: 5; }

.body-section .single-image .select-icon-background { display: none; background-color: #fff; box-shadow: 0px 0px 6px #777; border-radius: 100%; width: 23px; height: 23px; position: absolute; top: 11px; right: 11px; z-index: 4; }

.body-section .single-image:hover img { opacity: 1; }

.body-section .single-image:hover .mask-layer { display: block; }

.body-section .single-image:hover .select-box { display: block; }

.body-section .single-image:hover .select-icon-background { display: block; }

.body-section .single-image.selected .select-box { display: block; }

.body-section .single-image.selected .select-icon-background { display: block; }

.page-mask { z-index: 99; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.8); }

.loading-icon { z-index: 110; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.8); }

.loading-icon img { top: 50%; left: 50%; transform: translatex(-50%) translateY(-50%); position: absolute; }

.loading-icon .loading-icon-circle { top: 50%; left: 50%; transform: translatex(-50%) translateY(-50%); height: 50px; width: 50px; line-height: 32px; position: relative; display: inline-block; overflow: hidden; white-space: nowrap; }

.loading-icon .loading-icon-circle .loading-icon-markup { -webkit-animation: icon-spin 2s infinite linear; animation: icon-spin 2s infinite linear; }

.loading-icon .loading-icon-circle .loading-icon-markup .icon-color { color: #fff; }

.view-image-modal { z-index: 99; position: fixed; display: block; top: 50%; left: 50%; transform: translatex(-50%) translateY(-50%); max-width: 100%; max-height: 100%; }

.view-image-modal .page-mask { z-index: 100; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.8); }

.view-image-modal img { z-index: 101; position: relative; max-width: 100vw; max-height: 100vh; }

.view-image-modal .close-btn { position: absolute; right: 20px; top: 20px; font-size: 30px; width: 30px; height: 30px; color: #fff; z-index: 102; cursor: pointer; }

.image-detail-modal { z-index: 99; position: fixed; display: block; width: 540px; height: 320px; background-color: #fff; top: calc(50% - 150px); left: calc(50% - 250px); }

.image-detail-modal .page-mask { z-index: 100; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.8); }

.image-detail-modal .close-btn { position: absolute; color: #000; right: 20px; top: 20px; font-size: 30px; width: 30px; height: 30px; z-index: 102; cursor: pointer; }

.image-detail-modal .detail-section { position: relative; padding: 20px; z-index: 101; width: 500px; height: 350px; background-color: #fff; }

.image-detail-modal .detail-section .detail-title { font-size: 20px; text-align: center; margin-bottom: 10px; margin-top: 15px; }

.image-detail-modal .detail-section .detail-li { line-height: 30px; }

.image-detail-modal .detail-section .detail-li .title { width: 200px; text-align: right; display: inline-block; font-size: 15px; font-weight: bold; }

.image-detail-modal .detail-section .detail-li .content { text-align: left; margin-left: 5px; font-size: 15px; }

.image-detail-modal .insert-btn { line-height: 20px; border: 1px solid #333; position: absolute; bottom: 0; z-index: 102; margin: auto; text-align: center; left: 190px; padding: 5px 10px; border-radius: 20px; cursor: pointer; }

.image-detail-modal .insert-btn:hover { border: 1px solid #006799; background-color: #006799; color: #fff; }

.load-more { position: relative; top: 20px; display: block; height: 20px; color: #828282; margin: auto; font-size: 15px; text-align: center; cursor: pointer; }

.load-more span { font-family: sans-serif, Helvetica, Arial; }

.load-more:before { font-size: 20px; position: relative; top: 5px; }

.image-preview-modal { z-index: 99; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.9); padding: 20px; box-sizing: border-box; }

.image-preview-modal .close-btn { position: absolute; right: 20px; top: 30px; font-size: 25px; color: #fff; cursor: pointer; z-index: 99; }

.image-preview-modal .image-box { position: relative; width: calc(100% - 575px); height: 100%; }

.image-preview-modal .image-box img { position: relative; max-width: 100%; max-height: 100%; margin: auto; left: 50%; top: 50%; transform: translate(-50%, -50%); }

.image-preview-modal .detail-box { width: 575px; top: 0; position: absolute; right: 0; padding: 20px; box-sizing: border-box; height: 100%; padding-left: 40px; background-color: #444; }

.image-preview-modal .detail-box .clear { clear: both; }

.image-preview-modal .detail-box .detail-list-cotnt { height: 75%; overflow-y: auto; position: relative; overflow-x: hidden; }

.image-preview-modal .detail-box .image-name { font-size: 18px; color: #fff; margin-top: 15px; line-height: 30px; margin-bottom: 20px; width: calc(100% - 30px); display: block; position: relative; word-break: break-all; }

.image-preview-modal .detail-box .detail-item { font-size: 12px; line-height: 20px; color: #bbb; margin: 5px 0; }

.image-preview-modal .detail-box .detail-item .title { font-weight: bold; }

.image-preview-modal .detail-box .detail-item .more { display: none; }

.image-preview-modal .detail-box .detail-item.restrict-height .content { max-height: 40px; overflow-y: hidden; }

.image-preview-modal .detail-box .detail-item.restrict-height .more { display: block; float: right; text-decoration: underline; cursor: pointer; }

.image-preview-modal .detail-box .insert-action-section { position: absolute; padding-bottom: 20px; bottom: 0; color: #FF9800; background-color: inherit; font-size: 17px; width: calc(100% - 40px); box-sizing: border-box; line-height: 50px; }

.image-preview-modal .detail-box .insert-action-section .insert-text { display: inline; color: #fff; }

.image-preview-modal .detail-box .insert-action-section .cancel-btn { display: inline; background-color: #666; padding: 6px 15px; border-radius: 15px; color: #fff; font-size: 15px; margin-left: 40px; cursor: pointer; }

.image-preview-modal .detail-box .insert-action-section .cancel-btn:hover { background-color: #555; }

.image-preview-modal .detail-box .insert-action-section .insert-btn { display: inline; background-color: #777; padding: 6px 15px; border-radius: 15px; color: #fff; font-size: 15px; margin: 10px; cursor: pointer; }

.image-preview-modal .detail-box .insert-action-section .insert-btn:hover { background-color: #666; }

.image-preview-modal .detail-box .insert-action-section .btn-group { float: right; margin-right: 10px; }

.canto-pick-box { width: 350px; }

.canto-pick-box .header { position: relative; }

.canto-pick-box .header .title { font-size: 16px; font-weight: bold; color: #fff; }

.canto-pick-box .header .close-btn { position: absolute; right: 0; top: 0; font-size: 23px; color: #fff; }

.canto-pick-box .img-box { height: 30px; padding: 10px; cursor: pointer; }

.canto-pick-box .btn-section { text-align: center; }

.canto-pick-box .btn-section button { height: 30px; width: 100px; line-height: 26px; margin: 15px; padding: 0; font-size: 15px; background-color: #FF9800; color: #fff; border: 2px solid #fff; font-weight: bold; }

.canto-pick-box .btn-section button:hover { background-color: #c77b09; }

.canto-preview-img { width: 200px; height: 200px; object-fit: cover; }

.error{color:red; visibility:visible; padding-left:10px;}

.info{visibility:hidden;}

.canto-sso-section{
    margin-top: 20vh;
}
.canto-sso-section .sso-description{
    text-align: center;
    margin: 20px 10px;
    font-size: 13px;
}
.canto-sso-section .submit-button{
    display: block;
    text-align: center;
    width: 100px;
    margin: auto;
    background-color: #f3a41e;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    margin-top: 30px;
    position: relative;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}